body::-webkit-scrollbar
{
	width: 13px;
}
body::-webkit-scrollbar-track
{
	background-image: url("foto/obraz3.jpg");
}
body::-webkit-scrollbar-thumb
{
	background-color: #415D55;
	border-radius: 30px;
}
body
{
	background: url("foto/obraz3.jpg");
    background-attachment: fixed;
	background-size: 100% 100%;
    background-repeat: no-repeat; 
	font-size: 20px;
	color: #efefef;
	margin: 0 !important;
}

a:link 
{
    color: #fff;
	text-decoration: none;
}

a:visited 
{
    color: #fff;
}

a:hover 
{
    color: #fff;
}

a:active 
{    
	color: #fff;
}
.top
{
	background-color: rgba(46, 48, 50, 0.6);
	position: fixed;
	bottom: 40px;
	right: 2%;
	transform: rotate(90deg);
	border-radius: 100%;
	z-index: 100;
}
h1
{
	font-weight: bold;
	color: #AEC3D5;
	margin-top: 45px;	
	margin-bottom: 30px;
	text-transform: uppercase;
	text-align: center;
}
.container-fluid
{
	padding-left: 10%;
	padding-right: 10%;
}
.kafelek
{
	background-image: url("foto/obraz1.png");
	border-radius: 100px;
	opacity: 0.7; 
	height: 280px;
	margin-top: 50px;
	text-align: center;
}
@media (min-width: 991px) /* powyzej 991px */
{
	.top
	{
		height: 70px;
		width: 70px;
	}
	.top:hover
	{
		background-color: rgba(46, 48, 50, 1);
		cursor: pointer;
		transform: scale(1.05) rotate(90deg) ;
	
	}
	h1
	{
		font-size: 84px;
		letter-spacing: 10px;
	}
	.kafelek a
	{
		display: none;
		padding-top: 80px;
		font-size: 70px;
		font-weight: bold;
	}
	.kafelek:hover i
	{
		display: none;
	}
	.kafelek:hover a
	{
		display: block;
	}
	.kafelek:hover
	{
		transform: scale(1.02);
		opacity: 1;
		cursor: pointer;
	}
	.omnie
	{
		margin-top: 160px;
		padding-top: 15px;
	}
	.container-fluid
	{
		padding-left: 10%;
		padding-right: 10%;
	}
}

@media (max-width: 991px) /* ponizej 991px */
{
	.top
	{
		height: 30px;
		width: 30px;
	}
	h1
	{
		font-size: 7vw;
		letter-spacing: 4px;
		padding: 10px;
	}
	.overlay
	{
		margin: auto;
	}
	.kafelek
	{
		height: 50px;
		margin-top: 10px;
	}
	.kafelek a
	{
		visibility: visible;
		font-size: 22px;
		display: inline-block;
	}
	
	.kafelek .photo5
	{
		margin-bottom: 30px;
	}
	.omnie
	{	
		margin-top: 50px;
		padding-top: 1px;
	}
	.container-fluid
	{
		padding-left: 3%;
		padding-right: 3%;
	}
}

@media (max-width: 1451px) and (min-width: 991px) /* pomiedzy 1451px a 991px */
{
	
	.kafelek .photo2 a
	{
		padding-top: 65px;
		line-height: 90%;
	}
	
} 
.omnie
{
	height: 850px;
	background-color: rgba(150,175,168, 0.5);
}

.mojapraca
{
	height: 850px;
	background-color: rgba(150,175,168, 0.5);
	border-top: dotted 5px #313937;
}
.galeria
{
	height: 850px;
	background-color: rgba(150,175,168, 0.5);
	border-top: dotted 5px #313937;
}
.oferta
{
	height: 850px;
	background-color: rgba(150,175,168, 0.5);
	border-top: dotted 5px #313937;
}
.kontakt
{
	background-color: rgba(150,175,168, 0.5);
	border-top: dotted 5px #313937;
	margin-bottom: 30px;
}
@media (max-width: 1800px)
{
	.dane
	{
		font-size: 30px;
	}
}
@media (max-width: 1400px)
{
	.dane
	{
		font-size: 25px;
	}
}
@media (max-width: 1110px)
{
	.dane
	{
		font-size: 20px;
	}
}
@media (max-width: 991px)
{
	.dane
	{
		font-size: 4vw;
		text-align: center;
		line-height: 100%;
	}
	#map
	{
		width:100%;
		height: 350px;
		margin-top: 50px;
	}
}
@media (min-width: 991px)
{
	.dane
	{
		text-align: center;
		margin-top: 160px;
	}
	.dane1
	{
		height: 70px;
		padding-top: 0px;
	}
	#map
	{
		height: 600px; 
		border: 0;
		width: 100%;
	}
}
@media (min-width: 1800px)
{
	.dane
	{
		font-size: 40px;
	}
}


.kontakt h1
{
	margin-bottom: 50px;
}
* {
  box-sizing: border-box;
}

